<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="hero-section">

    <section class="hero" id="home">
        <div class ="hero-background"></div>
        <div class="container hero-container">
            <div class="hero-content">
                <div class="hero-greeting">Hello there, I'm</div>
                <h1 class="hero-title"><span class="gradient-text">Sarthak Bhushan</span></h1>
                <h2 class="hero-subtitle">Developer</h2>
                <p class="hero-description">
                    Learning and building projects in software development, actively exploring new technologies and working to improve practical skill and understanding.
                </p>
                <div class = "hero-buttons">
                    <a href="#projects" class="btn btn-primary">
                        View My Work <i class = "fas fa-arrow-right"></i>
                    </a>
                    <a href="#contact" class="btn btn-outline">
                        Get In Touch
                    </a>
                </div>
                <div class="social-links">
                    <a href="tel: +913682190783" class="social-link">
                        <i class="fas fa-phone-alt"></i>
                    </a>
                    <a href="mailto: sarthakbhushan7s@gmail.com" class="social-link">
                        <i class="fas fa-envelope"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/sarthakbhushan/" target="_blank" class="social-link">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/SarthakBhushan" target="_blank" class="social-link">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="hero-visual">
                <div class="hero-visual-inner">
                    <div class="hero-visual-frame">
                        <img src="/images/profile.jpg" alt="profile" style="width: 90%;height: 90%; object-fit:cover; border-radius: 15px">
                    </div>
                    <div class="hero-visual-frame"></div>
                    <div class="hero-visual-frame"></div>
                </div>
            </div>
        </div>
        <div class="scroll-indicator">
            <span>Scroll Down</span>
            <div class="scroll-indicator-line">
                <div class="scroll-indicator-dot"></div>
            </div>
        </div>
    </section>
</th:block>
</html>